p {
  font-family: montserrat;
  margin: 0 0 0 0;
  text-align: center;
}
.title {
font-size: 30px;
font-weight: bold;
margin-bottom: 5px;
}
.text {
font-size: 14px;
}
.text-ul {
  text-decoration: underline;
}